<html>
    <head>
        <link href="~/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <header>          
            <h1>Casa de cambio</h1>
        </header>
        <main>
            @RenderBody();
        </main>
        <footer>
            <p>Programacion web</p>
        </footer>
    </body>
</html>